body,h1,h2,h3,h4,h5,h6,ul,p {
	margin: 0;
	padding: 0;
	font-family: '宋体';
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	font-size: 14px;
}
img {
	display: block;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.gWidth {
	width: 960px;
	margin: 0 auto;
}
body {
	background: #ECF9F1;
}
/*banner*/
.banner {
	height: 191px;
	background: url('../images/banner.png');
	background-size: 100% 100%;
}
.logo {
	padding-top: 4px;
	margin-left: 5px;
}
.topzt {
	margin-top: 16px;
	margin-left: 35px;
}
/*nav*/
.nav {
	height: 38px;
	background: #4CACF8;
}
.menu a {
	font-size: 14px;
	line-height: 38px;
	color: #fff;
}
/*content1*/
.content1 {
	padding-top: 12px;
	padding-bottom: 12px;
	background: #F6F6F6;
	border-bottom: 2px solid #DFDEDE;
}
.content1 p {
	font-size: 14px;
	line-height: 30px;
	color: #333;
	margin-left: 25px;
}
/*content2*/
.content2 {
	background: #fff;
	padding-top: 26px;
	padding-bottom: 7px;
	font-size: 0;
	border-bottom: 1px dashed #C8C8C8;
}
.content2 .con-2-1 {
	margin-left: 7px;
}
.content2 .con-2-1 a {
	display: inline-block;
	height: 31px;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
	margin-left: 6px;
}
.content2 .con-2-1 .a1 {
	width: 203px;
	border: 1px solid #D1D1D1;
	color: #D1D1D1;
}
.content2 .con-2-1 .a2 {
	width: 238px;
	border: 1px solid #FF9C71;
	color: #38A5FB;
}
.content2 .con-2-1 .a3 {
	width: 238px;
	border: 1px solid #38A5FB;
	color: #38A5FB;
}
.content2 .con-2-1 .a4 {
	width: 230px;
	border: 1px solid #38A5FB;
	color: #38A5FB;
}
.content2 .con-2-1 a span {
	color: #FF0000;
}
/*.content2 .con-2-2*/
/*con-2-2*/
.con-2-2{
	margin-left: 13px;
	margin-top: 16px;
}
.con-2-2 ul {
	margin-left: 1px;
	margin-bottom: -2px;
}
.con-2-2 ul li {
	width: 121px;
	height: 34px;
	border: 1px solid #D1D1D1;
	border-radius: 3px 3px 0px 0px;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	margin-left: -1px;
	float: left;
	background: #fff;
	cursor: pointer;
}
.nr div{
	display: none;
}
.nr div:first-child {
	display: block;
}
.con-2-2 ul .act {
	color: #4BABF7;
	border-bottom-style: none;
	font-weight: bold;
}
.con-2-2 .nr {
	border: 1px solid #D1D1D1;
}
.con-2-2 .nr p {
	font-size: 14px;
}
/*团队预约*/
.con-2-2 .nr .td {
	padding-bottom: 292px;
	padding-top: 36px;
}
.con-2-2 .nr .td p {
	color: #656565;
	line-height: 34px;
	margin-left: 80px;
}
.con-2-2 .nr .td p span {
	color: #4BABF7;
}
.con-2-2 .nr .td p em {
	font-style: normal;
	color: #000;
}
/*个人预约*/
.con-2-2 .nr .gr {
	padding-top: 36px;
	padding-bottom: 34px;
}
.con-2-2 .nr .gr p {
	margin-left: 88px;
	line-height: 46px;
	color: #656565;
}
.con-2-2 .nr .gr p input {
	font-size: 12px;
}
.con-2-2 .nr .gr p em {
	font-style: normal;
	color: #000;
	font-size: 12px;
}
.con-2-2 .nr .gr p span {
	display: inline-block;
	width: 152px;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	color: #FF0000;
	border:  1px dashed #FF0000;
	background: url('../images/gth.png') no-repeat 13px center;
	padding-left: 29px;
	margin-left: 14px;
}
.con-2-2 .nr .gr p .span {
	background: none;
	border-style: none;
	padding-left: 0;
	width: 181px;
}
.con-2-2 .nr .gr p .yzm {
	display: inline-block;
	width: 96px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background: #06B0FF;
	border-radius: 4px;
	margin-left: 14px;
}
.con-2-2 .nr .gr p .tj {
	display: inline-block;
	border: 1px solid #EC6D06;
	border-radius: 4px;
	background: url('../images/grtj.png');
	color: #fff;
	font-size: 18px;
	line-height: 48px;
	width: 180px;
	height: 48px;
	text-align: center;
	margin-left: 18px;
	margin-top: 10px;
}
/*.con-2-3*/
.con-2-3 {
	padding-top: 44px;
	padding-bottom: 16px;
}
.con-2-3 p {
	font-size: 12px;
	color: #656565;
	text-align: center;
}